---
layout: default
title: Doc Gen API Templates
meta:
active: doc-den-api-template
---
{% include paths.html %}


<div class="main secondary-page">

	<section id="doc-gen-lead-blade">
		<div class="doc-gen-lead-container">
			<div class="doc-gen-lead-wrapper">
				<div class="intro-copy-wrapper">
					<div class="gen-api-tplt">
						<h1>Adobe Document Generation API templates</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<style>
		.ddl-control {display: none;}
	</style>

	<section class="sample-blade gen-api-tplt-body">
		<div class="template-content-container">

{% comment %}
			<div class="doc-gen-date-stamp">
				<div class="doc-gen-last-update">
					<div class="ddl-control">
						<p>Last Update</p>
						<span class="chev-arrow-down"></span>
					</div>
				</div>
			</div>
{% endcomment %}

			<div class="template-content-wrapper">

				<div class="api-tplt-content">
					<div class="api-tplt-content-menu">
						<p>Filter by</p>
						<ul>
							<li>
								<div>
									<input type="checkbox" id="agreement" name="agreement" value="agreement-contract" onclick="onCheckedSort(this);">
									<label for="agreement">Agreements and Contracts</label>
								</div>
							</li>
							<li>
								<div>
									<input type="checkbox" id="c-publishing" name="c-publishing" value="c-publishing" onclick="onCheckedSort(this);">
									<label for="c-publishing">Content Publishing</label>
								</div>
							</li>
							<li>
								<div>
									<input type="checkbox" id="education" name="education" value="education" onclick="onCheckedSort(this);">
									<label for="education">Education</label>
								</div>
							</li>
							<li>
								<div>
									<input type="checkbox" id="human-resources" name="human-resources" value="human-resources" onclick="onCheckedSort(this);">
									<label for="human-resources">Human Resources</label>
								</div>
							</li>
							{% comment %}
							<li>
								<div>
									<input type="checkbox" id="collaboration" name="collaboration" value="collaboration" onclick="onCheckedSort(this);">
									<label for="collaboration">Collaboration</label>
								</div>
							</li>
							{% endcomment %}
							<li>
								<div>
									<input type="checkbox" id="financial" name="financial" value="financial" onclick="onCheckedSort(this);">
									<label for="financial">Financial</label>
								</div>
							</li>
							{% comment %}
							<li>
								<div>
									<input type="checkbox" id="archive-retrieval" name="archive-retrieval" value="archive-retrieval" onclick="onCheckedSort(this);">
									<label for="archive-retrieval">Archiving and Retrieval</label>
								</div>
							</li>
							{% endcomment %}
						</ul>
					</div>
				</div>

				<div class="sample-container">

					<div class="doc-gen-date-stamp">
						<div class="doc-gen-last-update">
							<div class="ddl-control">
								<!-- <p>Last updated</p> -->
								<!-- <span class="chev-arrow-down"></span> -->
								<select name="lstUpdate" id="lstUpdate" onchange="onDocSort(this.selectedIndex)">
									<option selected value="Last Update">Last updated</option>
									<option value="Alphabetical">Alphabetical</option>
								</select>
							</div>
						</div>
					</div>

					<div class="sample-wrapper">

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/agreement.jpg"></div>
							<h5>Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleagreement" target="_blank" class="button-link">Download</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/grant_application.jpg"></div>
							<h5>Grant application</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplegrant" target="_blank" class="button-link">Download</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/invoice.jpg"></div>
							<h5>Invoice</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleinvoice" target="_blank" class="button-link">Download</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/proposal_letter.jpg"></div>
							<h5>Sample proposal</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleproposal" target="_blank" class="button-link">Download</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/lms_report.jpg"></div>
							<h5>Certification report</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplereport" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/offer_letter.jpg"></div>
							<h5>Offer Letter</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleofferletter" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/service_receipt.jpg"></div>
							<h5>Receipt</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplereceipt" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/sales_order.jpg"></div>
							<h5>Sales Order</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplesalesorder" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/lms_certificate.jpg"></div>
							<h5>LMS Certificate</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplecertificate" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/annual_report.jpg"></div>
							<h5>Sample Annual Report</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleannualreport" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/award_letter.jpg"></div>
							<h5>Sample Award Letter</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleawardletter" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/city_sheet.jpg"></div>
							<h5>City Programs Sheet</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplecityprogramsheet" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/employee_handbook.jpg"></div>
							<h5>Employee Handbook</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleemployeehandbook" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/employee_remote.jpg"></div>
							<h5>Remote Work</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleremotework" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/investment_proposal.jpg"></div>
							<h5>Investment Proposal Letter</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleinvestmentproposalletter" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/marketing_sheet.jpg"></div>
							<h5>Marketing Data Sheet</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplemarketingdatasheet" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/mortgage_proposal.jpg"></div>
							<h5>Mortgage Proposal</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplemortgageproposal" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/project_status.jpg"></div>
							<h5>Project Status Report</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_sampleprojectstatusreport" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/purchase_order.jpg"></div>
							<h5>Purchase Order</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplepurchaseorder" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/welcome_kit.jpg"></div>
							<h5>Welcome Kit</h5>
							<div class="cta-wrapper">
								<a href="https://www.adobe.com/go/dcdg_samplewelcomekit" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="education">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/add-drop-audit-form.jpg"></div>
							<h5>Add/Drop Audit Form</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleaddropform" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/affidavit-of-identity.jpg"></div>
							<h5>Affidavit of Identity</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleaffidavitofidentity" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="education">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/attendance-sheet.jpg"></div>
							<h5>Attendance Sheet</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleattendancesheet" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/agreement.jpg"></div>
							<h5>Eligibility of Sale</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplebillofsale" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/catering-invocie.jpg"></div>
							<h5>Catering Invoice</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplecateringinvoice" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="human-resources">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/change-of-benificiary.jpg"></div>
							<h5>Change of Beneficiary</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplechangebeneficiary" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/child-support-agreement.jpg"></div>
							<h5>Child Support</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplechildsupport" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/clinical-trial-consent.jpg"></div>
							<h5>Clinical Trial</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleclinicaltrial" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/consulting-agreement.jpg"></div>
							<h5>Consulting Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleconsultingagreement" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/credit-memo.jpg"></div>
							<h5>Credit Memo</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplecreditmemo" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/executive-summary.jpg"></div>
							<h5>Executive Summary</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleexecutivesummary" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="education">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/high-school-catalog.jpg"></div>
							<h5>High School Catalog</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplehighschoolcatalog" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/welcome_kit.jpg"></div>
							<h5>Liability Consent Form</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleliabilityconsentform" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/liability-release.jpg"></div>
							<h5>Liability Release Form</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleliabilityreleaseform" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/licensing-agreeemnt.jpg"></div>
							<h5>License Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplelicenseagreement" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/living-trust.jpg"></div>
							<h5>Living Trust</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplelivingtrust" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/loan-agreement.jpg"></div>
							<h5>Loan Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleloanagreement" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/nda.jpg"></div>
							<h5>Non-Disclosure Agreements</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplenda" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/partnership-agreement.jpg"></div>
							<h5>Partnership Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplepartnershipagreement" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/press-release.jpg"></div>
							<h5>Press Release</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplepressrelease" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/rental-agreement.jpg"></div>
							<h5>Rental Agreement</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplerentalagreement" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/restaurant-menu.jpg"></div>
							<h5>Restaurant Menu</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplerestaurantmenu" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="human-resources">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/salary-verification-letter.jpg"></div>
							<h5>Salary Verification</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplesalaryverification" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/service_receipt.jpg"></div>
							<h5>Service Receipt</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleservicereceipt" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/shipping-notice.jpg"></div>
							<h5>Shipping Notice</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampleshippingnotice" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="human-resources">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/sop.jpg"></div>
							<h5>Standard Operation Procedure</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplestandardoperationprocedure" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="financial">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/stock-sale-purchase.jpg"></div>
							<h5>Stock Sale and Purchase</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplestocksaleandpurchase" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="education">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/student-submission.jpg"></div>
							<h5>Student Submission</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplestudentsubmission" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="agreement">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/terms-conditions.jpg"></div>
							<h5>Terms and Conditions</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampletermsnconditions" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="human-resources">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/travel-consent-form.jpg"></div>
							<h5>Travel Consent Form</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_sampletravelconsentform" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

						<div class="sample-item card-container" data-item-id="c-publishing">
							<div class="sample-icon"><img src="{{ baseurl }}/gh-assets/img/template-icons/white-paper.jpg"></div>
							<h5>White Paper</h5>
							<div class="cta-wrapper">
								<a href="https://adobe.com/go/dcdg_samplewhitepaper" target="_blank" class="button-link">
									Download
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>

</div>

 {% include use-case-help.html %}
